<body>
<table class="center">
  <thead>
    <tr>
      <th>Leave ID</th>
      <th>Employee Name</th>
      <th>Leave Type</th>
      <th>Leave From</th>
      <th>Leave To</th>
      <th>Team Name</th>
      <th>Manager Name</th>
      <th>Leave Duration</th>
      <th>File Path</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of leaveRequests">
      <td>{{ request.leave_id }}</td>
      <td>{{ request.employee_name }}</td>
      <td>{{ request.leave_type }}</td>
      <td>{{ request.leave_from .slice(0,10)}}</td>
      <td>{{ request.leave_to.slice(0,10)}}</td>
      <td>{{ request.team_name }}</td>
      <td>{{ request.manager_name }}</td>
      <td>{{request.leave_duration}}</td>
      <td>{{request.file_path}}</td>
      <td>
        <ng-container *ngIf="request.leave_type === 'Sick'">
        <a [href]="getFileLink(request.file_path)" download>
          <button>Download</button>
      </a>
    </ng-container>
    </td> 
    </tr>
  </tbody>
</table>
</body>